{{> partials/head}}
{{> partials/navbar}}
<body>
  <div class="container">
    <h1 class="text-center">Create a Tournament</h1>
    <hr />
  </div>

  <div class="container my-4">
    <form action="/tournaments/createTournament" method="POST">
      <h2 class="text-center">New Tournament</h2>
      {{> partials/messages}}
      <div class="form-group">
        <label for="name" class="col-form-label"
          >Tournament Name <span class="text-danger">*</span></label
        >
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          required="required"
        />
      </div>
      <div class="form-group">
        <label for="description" class="col-form-label">Description</label>
        <input
          type="text"
          name="description"
          id="description"
          class="form-control"
          required="required"
        />
      </div>
      <div class="form-group">
        <label for="game" class="col-form-label"
          >Game / Sport <span class="text-danger">*</span></label
        >
        <input
          type="text"
          name="game"
          id="game"
          class="form-control"
          required="required"
        />
      </div>
      <div class="form-group">
        <label for="size" class="col-form-label"
          >Tournament Size <span class="text-danger">*</span
          ><svg
            data-toggle="tooltip"
            data-placement="top"
            title="Tournament size must be an even number, so the tournament bracket can be generated"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-info-circle mx-2"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"
            />
            <circle cx="8" cy="4.5" r="1" /></svg
        ></label>
        <select
          id="size"
          name="size"
          class="form-control form-select"
          aria-label="Default select example"
          required
        >
          <option value="4">4</option>
          <option value="8">8</option>
          <option value="16">16</option>
        </select>
      </div>
      <div class="form-group">
        <label for="type" class="col-form-label"
          >Tournament Type <span class="text-danger">*</span></label
        >
        <select
          id="type"
          name="type"
          class="form-control form-select"
          aria-label="Default select example"
          required
        >
          <option value="single">Single</option>
          <option value="team">Teams</option>
        </select>
      </div>
      <div id="tournamentTeamSize" class="form-group d-none">
        <label for="teamSize" class="col-form-label"
          >Team Size <span class="text-danger">*</span></label
        >
        <input
          type="number"
          name="teamSize"
          min="2"
          max="16"
          id="teamSize"
          class="form-control"
          required="required"
          value="2"
        />
      </div>
      <div class="form-group">
        <label for="startDate" class="col-form-label"
          >Start Date <span class="text-danger">*</span></label
        >
        <input
          class="form-control"
          type="datetime-local"
          min="{{ startDate }}"
          value="{{ startDate }}"
          id="startDate"
          name="startDate"
          required
        />
      </div>
      <div class="form-group">
        <label for="endDate" class="col-form-label"
          >End Date <span class="text-danger">*</span></label
        >
        <input
          class="form-control"
          type="datetime-local"
          min="{{ startDate }}"
          value="{{ endDate }}"
          id="endDate"
          name="endDate"
          required
        />
      </div>
      <div class="form-group">
        <button
          id="login-button"
          type="submit"
          class="btn btn-primary btn-block"
        >
          Create
        </button>
      </div>
      <a href="/tournaments/myTournaments" class="float-left">Back</a>
    </form>
  </div>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  <script src="/scripts/showHideTeamsView.js"></script>
</body>
{{> partials/footer}}
