{{> partials/head}}
{{> partials/navbar}}
<body>
  <div class="container">
    <header class="d-flex align-items-center justify-content-center py-5">
      <h1 class="text-center">My Tournaments</h1>
    </header>
    {{> partials/messages}}
    <div class="d-flex flex-row justify-content-around align-items-center my-4 flex-wrap">
    {{#tournaments}}
      <div class="card bg-light mr-2" style="width: 20rem">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title">{{name}}</h5>
            <span class="badge badge-info small px-1 card-title">{{type}}</span>
          </div>
          <p class="card-text">
            {{description}}
          </p>
          <p class="card-text">
            <b>Begins: </b> {{parsedStartDate}}
          </p>
          <p class="card-text">
            <b>Ends: </b> {{parsedEndDate}}
          </p>

          <p class="card-text">
            <b>Created: </b> {{parsedDateCreated}}
          </p>
          <a href="/tournaments/{{_id}}" class="btn btn-primary">View</a>
        </div>
      </div>
    {{/tournaments}}
    {{^tournaments}}
      <p class="text-primary">You currently do not have any tournaments, why not created one!</p>
    {{/tournaments}}
    </div>
  </div>
</body>
