{{> partials/head}}
{{> partials/navbar}}
<body>
  <div class="container">
    <h1 class="text-center">My Tournaments</h1>
    <hr>
    {{> partials/messages}}
    <div class="d-flex flex-row justify-content-around align-items-center my-4 flex-wrap">
    {{#tournaments}}
      <div class="card mr-2" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">
            {{name}}
            <span class="badge-primary badge-pill small">{{game}}</span>
          </h5>
          <p class="card-text">
            {{description}}
          </p>
          <p class="card-text">
            <b>Start Date: </b> {{startDate}}
          </p>
          <p class="card-text">
            <b>End Date: </b> {{endDate}}
          </p>

          <p class="card-text">
            <b>Date Created: </b> {{dateCreated}}
          </p>
          <a href="/tournaments/{{_id}}" class="btn btn-primary">View</a>
        </div>
      </div>
    {{/tournaments}}
    {{^tournaments}}
      <p class="text-primary">You currently do not have any tournaments, why not created one!</p>
    {{/tournaments}}
    </div>
  </div>
</body>