<body>
    {{> partials/head}}
    <div class="container">
      {{#tournament}}
      <h1>
        {{name}} <span class="badge-primary badge-pill small">{{game}}</span>
      </h1>
      <p class="small">Type: {{type}}</p>
      <p class="small">Description: {{description}}</p>
      <p class="small">Start Date: {{startDate}}</p>
      <p class="small">End Date: {{endDate}}</p>
      <p class="small">Tournament Size: {{limit}}</p>
      
      <h2>Bracket</h2>
      {{> partials/messages}}
      <div
        id="tournament-bracket"
        class="w-100 d-flex justify-content-center align-items-center my-4"
      >
      </div>
        <textarea id='tournament-bracket-textarea' class='d-none'>
          {{bracketString}}
        </textarea>
        <p id="tournamentID" class="d-none">{{_id}}</p>
      {{#isTournamentCreator}}
        {{> partials/tournaments/tournamentCreator}}
      {{/isTournamentCreator}}

      {{#isTeamTournament}}
        {{> partials/tournaments/teams}}
      {{/isTeamTournament}}
      <h4>Users</h4>
      <div
        class="d-flex flex-wrap justify-content-space-around align-items-center my-4"
      >
        {{#users}}
        <div class="card mr-4 mb-4">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><b>Email: </b> {{email}}</p>
          </div>
        </div>
        {{/users}} {{^users}}
        <p class="text-danger">
          Something must have gone wrong, no one is part of this tournament
        </p>
        {{/users}}
      </div>

      <h4>Messages</h4>
      <div id="messages-container" class="mb-3">
        {{#messages}} 
          {{#user}} 
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-title">{{body}}</p>
          </div>
        </div>
          {{/user}}
        {{/messages}} 
          {{^messages}}
            <p class="text-danger">
              Currently there are no messages in this tournament
            </p>
          {{/messages}} 
      </div>
      <form id="send-message-form" action="/tournaments/{{_id}}/addMessage" method="POST">
        <div class="input-group mb-3">
          <input id="input-message" type="text" name="message" class="form-control" placeholder="Message..." aria-label="Message..." aria-describedby="the message to be sent" required>
          <div class="input-group-append">
            <button id="btn-send-message" type="submit" class="btn btn-outline-primary" type="button">Send</button>
          </div>
        </div>
      </form>
      {{/tournament}}
      <a href="/tournaments/myTournaments" class="btn btn-secondary mx-4"
        >Back</a
      >
    {{#isTournamentCreator}}
      {{> partials/tournaments/tournamentActions}}  
    {{/isTournamentCreator}} 

    <script src="/scripts/tournamentMessaging.js" defer></script>
    <link rel="stylesheet" href="/css/jquery.bracket.min.css" />
    <script src="/scripts/tournament-bracket.js" defer></script>
    <script src="/scripts/jquery.bracket.min.js" defer></script>
  </body>