#messages-container {
    max-height: 680px;
    overflow-y: auto;
}

#messages-container::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

#messages-container::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

#messages-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);    /* color of the scroll thumb */
    border: none;
}

.card-body {
    background: #4d4d4c;
    color: white;
}