@import 'shared/variables.css';
@import 'shared/messagePanel.css';
@import 'shared/toast.css';
@import 'shared/tournamentBracket.css';
@import 'shared/bootstrapOverrides.css';
.navbar-icon {
  fill: var(--text-colour);
}
body {
  background-color: var(--primary-colour);
  color: var(--text-colour);
}
