{{> partials/head}}
{{> partials/navbar}}
<body>
  <div class="container mt-4 min-vh-100">
    <h1 class="text-center">Welcome to Hotshot Tournaments</h1>
    <hr />
    {{> partials/messages}}
    <form action="" method="post">
      <div class="form-group">
        <label class="col-form-label" for="">Label</label>
        <input class="form-control" type="text" />
      </div>
    </form>
  </div>
</body>
{{> partials/footer}}
