{{> partials/head}}
{{> partials/navbar}}
<body>
  <div class="container mt-4">
    <h1 class="mt-5 text-center">Tournaments Made Easy</h1>
    <h5 class="mt-3 text-center font-weight-light">
      Fast and Easy. Have a tournament ready in minutes. Let the games be the
      priority
    </h5>
    <div class="col text-center">
      <a
        class="my-5 btn btn-lg btn-primary"
        href="/tournaments/createTournamnet"
        >Create Tournament</a
      >
    </div>
    {{> partials/messages}}
  </div>
  <div
    class="mt-5 py-5 bg-dark-2 d-flex justify-content-center align-items-center flex-wrap"
  >
    <div class="card bg-dark mb-3 mr-4" style="max-width: 18rem">
      <div class="card-header text-center">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card bg-dark mb-3 mr-4" style="max-width: 18rem">
      <div class="card-header text-center">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <div class="card bg-dark mb-3 mr-4" style="max-width: 18rem">
      <div class="card-header text-center">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</body>
{{> partials/footer}}
