{{> partials/head}}

<body>
  <div class="container mt-4">
    <h1 class="text-center">Welcome to Hotshot Tournaments</h1>
    <hr/>
    {{> partials/messages}}
    <a href="/auth/login" class="btn btn-secondary">Login</a>
    <a href="/auth/register" class="btn btn-primary">Register</a>
  </div>
  
</body>