<div class="my-4">
<h4>Teams</h4>
{{#tournament}}
  {{#teams}}
    <a class="btn btn-outline-primary mr-4 my-4" href="/teams/view/{{tournamentID}}/team/{{_id}}">{{name}}</a>
  {{/teams}}
  {{^teams}}
    <p class="text-danger">There are no teams yet</p>
  {{/teams}}
  {{#teamsNotEqualsTournamentSize}}
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#teamsModal"
    >
      Add Team
    </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="teamsModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="teamsModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teamsModalLabel">Add users</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/teams/{{_id}}/" method="POST">
            <div class="form-group mb-3">
            <label for="newTeam" class="col-form-label">Team Name <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control"
                name="newTeam"
                id="newTeam"
                placeholder="Name of new Team..."
                aria-label="New Team Name"
                aria-describedby="textbox, enter new team name"
                required
              />
            </div>
            <div class="form-group mb-3">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
{{/teamsNotEqualsTournamentSize}}

{{/tournament}}
</div>
