<div class="dropdown">
  <button
    class="btn"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      class="bi bi-three-dots-vertical"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
      />
    </svg>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <form action="/tournaments/saveTournamentBracket/{{ _id }}" method="POST">
      <textarea
        id="tournament-bracket-textarea-2"
        name="bracket"
        class="d-none"
      >
      {{ bracketString }}
    </textarea
      >
      <button id="btn-edit-tournament" class="btn btn-primary">
        Edit Bracket
      </button>
    </form>
    {{#tournament}}
    <a
      href="/tournaments/generateTournamentBracket/{{ _id }}"
      class="btn btn-secondary"
      >Generate Bracket</a
    >
    {{/tournament}}
  </div>
</div>
