<footer class="bg-light text-center text-lg-start mt-5">
    <div class="text-center p-3">
        Made by
        <a class="link-primary" href="https://github.com/sjohnston00/HotshotTournaments">Former Hotshots <i class="bi bi-github"></i></a>
    </div>
</footer>