<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-dark-2">
  <a class="navbar-brand text-light" href="/">Hotshot Tournaments</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon text-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="btn btn-outline-primary my-2 mx-1"
          href="/tournaments/createTournament"
          >New Tournament</a
        >
      </li>
      {{#isLoggedIn}}
      <li class="nav-item">
        <a
          class="btn btn-outline-dark my-2 mx-1"
          href="/tournaments/myTournaments"
          >My Tournaments</a
        >
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-danger my-2 mx-1" href="/auth/logout"
          >Logout</a
        >
      </li>
      {{/isLoggedIn}}
      {{^isLoggedIn}}
      <li class="nav-item">
        <a href="/auth/login" class="btn btn-outline-light my-2 mx-1">Login</a>
      </li>
      <li class="nav-item">
        <a href="/auth/register" class="btn btn-primary my-2 mx-1">Register</a>
      </li>
      {{/isLoggedIn}}
    </ul>
  </div>
</nav>
