<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">Hotshot Tournaments</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-icon"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
      >
        <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" /></svg
    ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="btn btn-outline-primary my-2 mx-1"
          href="/tournaments/createTournament"
          >New Tournament</a
        >
      </li>
      {{#isLoggedIn}}
      <li class="nav-item">
        <a
          class="btn btn-outline-secondary my-2 mx-1"
          href="/tournaments/myTournaments"
          >My Tournaments</a
        >
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-danger my-2 mx-1" href="/auth/logout"
          >Logout</a
        >
      </li>
      {{/isLoggedIn}}
      {{^isLoggedIn}}
      <li class="nav-item">
        <a href="/auth/login" class="btn btn-outline-secondary my-2 mx-1"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a href="/auth/register" class="btn btn-primary my-2 mx-1">Register</a>
      </li>
      {{/isLoggedIn}}
    </ul>
  </div>
</nav>
