{{> partials/head}}
{{> partials/navbar}}
<body>
  <div class="container my-4 min-vh-100">
    {{> partials/messages}}
    {{#tournament}}
    <h1>
      {{ name }} <span class="badge-primary badge-pill small">{{ game }}</span>
    </h1>
    <p class="small">Type: {{ type }}</p>
    <p class="small">Description: {{ description }}</p>
    <p class="small">Start Date: {{ startDate }}</p>
    <p class="small">End Date: {{ endDate }}</p>
    <p class="small">Tournament Size: {{ limit }}</p>
    {{/tournament}}

    {{#team}}
    <h2>{{ name }}</h2>
    <h4>Members</h4>
    {{#users}}
    <div class="card mr-4 mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text"><b>Email: </b> {{ email }}</p>
        {{#isTeamLeader}}
        <a
          href="/teams/{{ tournamentID }}/{{ teamID }}/removeMember/{{ _id }}"
          class="btn btn-danger"
          >Kick Member</a
        >
        {{/isTeamLeader}}
      </div>
    </div>
    {{/users}}
    {{^users}}
    <p class="text-danger">There are no members in this team</p>
    {{/users}}
    <h4>Messages Board</h4>
    <div id="messages-container" class="mb-3">
      {{#messages}}
      {{#user}}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ name }}</h5>
          <p class="card-title">{{ body }}</p>
        </div>
      </div>
      {{/user}}
      {{/messages}}
      {{^messages}}
      <p class="text-danger">
        Currently there are no messages in this tournament
      </p>
      {{/messages}}
    </div>
    <form
      id="send-message-form"
      action="/tournaments/{{ _id }}/addMessage"
      method="POST"
    >
      <div class="input-group mb-3">
        <input
          id="input-message"
          type="text"
          name="message"
          class="form-control"
          placeholder="Message..."
          aria-label="Message..."
          aria-describedby="the message to be sent"
          required
        />
        <div class="input-group-append">
          <button
            id="btn-send-message"
            type="submit"
            class="btn btn-outline-primary"
            type="button"
          >
            Send
          </button>
        </div>
      </div>
    </form>
    {{/team}}

    {{#tournament}}
    <a href="/tournaments/{{ _id }}" class="btn btn-secondary">Back</a>

    {{#isTeamLeader}}
    {{> partials/teams/teamLeaderActions}}
    {{/isTeamLeader}}
    {{/tournament}}
  </div>

  {{#tournament}}
  <p id="tournamentID" class="d-none">{{ _id }}</p>
  {{/tournament}} {{#team}}
  <p id="teamID" class="d-none">{{ _id }}</p>
  {{/team}}
  <script src="/scripts/teamMessaging.js" defer></script>
  <script src="/scripts/copyText.js" defer></script>
</body>
{{> partials/footer}}
